body {
    color: rgb(201, 123, 135);
    background: rgb(221, 199, 203);
    margin: 0px;
    font-size: 20px;
    font: 14px copperplate, Fantasy;
    text-decoration-color: aquamarine;
}

dd {
    border-top-style: solid;
    background-color: rgb(228, 228, 180);
    border-top-color: rgb(228, 228, 180);
    border: thick dotted;
    width: 100%;
    position: absolute;
    height: 175px;
}


b {
    border-right-style: rgb(208, 161, 222);
    padding: .25em 0;
    height: 100%;
    width: 250px;
    background-color: rgb(209, 180, 228);
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    background-color: rgb(173, 183, 168); 
    border-radius: 8px;
}

.button { 
    display: block;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 7px;
    height: 25px;
    width: 15%;
    font: 14px copperplate, Fantasy;
    color: #c497c3;
    background-color: #e2d4be;
    transition-duration: 0.5s;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 20x;
}
.button:hover {
        color: #241c15;
        background-color: #d3ca9b;
}

.menu_buttons {
    position: absolute;
    left: 700px;
    top: 215px;
}
.menu_buttons_mid {
    position: absolute;
    left: 50px;
    right: 500px;
    top: 15px;
}
.menu_buttons_index {
    position: absolute;
    margin-left: 500px;
    margin-right: 0px;
}

.indeximage {
    position: absolute;
    margin-left: 0px;
}

p {
    font: 20px monaco, Monospace;
    text-align: center;
}

h1 {
    font: 75px Lucida Handwriting, cursive;
    color: rgb(255, 253, 252);
}

.resume {
    position: absolute;
    right: 75px;
    top: 5px;
}

.socials {
    position: absolute;
    right: 415px;
    top: 15px;
    left: 475px;
}

.classes {
    position: absolute;
    left: 60px;
    top: 225px;
}

.interests {
    position: absolute;
    left: 80px;
    top: 475px;
}

.gitHub {
    position: absolute;
    right: 15px;
    top: 150px;
    margin: auto;
}

.fav_proj {
    position: absolute;
    left: 525px;
    right: 525px;
    top: 250px;
}

#brown_underline_text {
    color: rgb(152, 66, 81);
    text-decoration: underline;
    font-size: 25px;
}