body {
    color: rgb(52, 50, 50);
    background: rgb(198, 195, 195);
    margin: 0px;
    font-size: 20px;
    font: 20px Helvetica, sans-serif;
    text-decoration-color: aquamarine;
}

dd {
    border-top-style: solid;
    background-color: rgb(71, 70, 71);
    border-top-color: rgb(157, 152, 161);
    border: thick dotted;
    width: 100%;
    position: absolute;
    height: 175px;
}


b {
    border-right-style: rgb(36, 34, 36);
    padding: .25em 0;
    height: 100%;
    width: 250px;
    background-color: rgb(19, 19, 19);
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    background-color: rgb(254, 255, 253); 
    border-radius: 8px;
}

.button { 
    display: block;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 7px;
    height: 25px;
    width: 15%;
    font: 14px copperplate, Fantasy;
    color: #9d9d9d;
    background-color: #e2d4be;
    transition-duration: 0.5s;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 20x;
}
.button:hover {
        color: #241c15;
        background-color: #d3ca9b;
}

.menu_buttons {
    position: absolute;
    left: 300px;
    right: 500px;
    top: 35px;
}
.menu_buttons_mid {
    position: absolute;
    left: 50px;
    right: 500px;
    top: 15px;
}
.menu_buttons_index {
    position: absolute;
    margin-left: 500px;
    margin-right: 0px;
}

.indeximage {
    position: absolute;
    margin-left: 0px;
}

p {
    font: 15px Helvetica, sans-serif;
    text-align: center;
}

#corner1 {
    border-style: solid;
    border-radius: 3px;
    border-width: thick;
    border-color: rgb(215, 207, 166);
    border-spacing: 5px;
    padding: 10px 10px;
    bottom: 0px;
}


h1 {
    font: 75px Lucida Handwriting, cursive;
    color: rgb(95, 94, 94);
    margin-bottom: 0px;
}

h2 {
    font: 75px Lucida Handwriting, cursive;
    
    color:#4b4b4a;
}

h3 {
    font: 20px Helvetica, sans-serif;
    text-align: center;
}

h4 {
    font: 20px Helvetica, sans-serif;
    text-align: center;
}

.resume {
    position: absolute;
    right: 75px;
    top: 5px;
}

.socials {
    position: absolute;
    right: 430px;
    top: 15px;
    left: 417px;
}

.classes {
    position: absolute;
    left: 60px;
    top: 225px;
}

.interests {
    position: absolute;
    left: 80px;
    top: 675px;
}

.gitHub {
    position: absolute;
    right: 15px;
    top: 150px;
    margin: auto;
}

.fav_proj {
    position: absolute;
    left: 600px;
    right: 450px;
    top: 250px;
}

#brown_underline_text {
    color: rgb(152, 66, 81);
    text-decoration: underline;
    font-size: 25px;
}

.image1 {
    position: absolute;
    left: 200px;
    bottom: 0px;
}
.image2 {
    position: absolute;
    left: 550px;
    bottom: 0px;
}
.image3 {
    position: absolute;
    left: 900px;
    bottom: 0px;
}  

.resume_picture {
    position: absolute;
    left: 20px;
    top: 20px;
}

.resume_link {
    font: 55px copperplate, Fantasy;
    color: #909090;
    position: absolute;
    left: -50px;
    right: 700px;
    top: 150px;
}

.resume_box {
    position: absolute;
    top: 150px;
    right: 150px;
    float: right; 
}

.asc {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 700px;
}

.big_event {
    position: absolute;
    top: 400px;
    left: 800px;
    right: 0px;   
}                                                   

.church {
    position: absolute;  
    top: 700px;  
    left: 0px;
    right: 700px;        
}

a:link { 
	font-weight: bold; 
	color: #e1d989;
	}

a:visited { 
	font-weight: bold;  
	color: rgb(107, 165, 179);
	}

a:hover, a:active { 
	color: white;
	}

.for_toggle {
    position: absolute;
    left: 500px;
}

.resume_explain {
    position: absolute;
    top: 285px;
    left: 300px;
    right: 800px;
}

